!!! 5
html
  head
    link(rel='stylesheet', href='http://codengage.com/css/bootstrap.min.css')
    script(type='text/javascript', src='http://codengage.com/js/jquery.min.js')
    script(type='text/javascript', src='http://codengage.com/js/bootstrap-typeahead.js')
  
  body
    #container
      #content.row
        #thumbnail.span3
          a.thumb(href="#")
            img(src="#{item.media}")
            p #{item.title}
        #q.span6
          form.form-horizontal(method="POST", action="http://codengage.com/api/v1/ask/#{item.id}")
            fieldset
              div.control-group
                label.control-label(for="to") Hey,
                div.controls
                  input.span6.typeahead.input-xlarge(type="text", name="to", id="to", data-provide="typeahead")
              div.control-group
                label.control-label(for="question") I want to ask you
                div.controls
                  textarea.span6.input-xlarge(name="question", id="question", rows="3")
              div.form-actions
                button#btn_ask.btn.btn-primary(type="submit") Ask away
                button#btn_cancel.btn Cancel

    script
      $(function() {
        $('.typeahead').typeahead({source: #{item.friends}});
      });