link(rel='stylesheet', href='http://codengage.com/css/bootstrap.min.css')
script(type='text/javascript', src='http://codengage.com/js/jquery.min.js')'

#container
  #content.row
    #thumbnail.span3
      a.thumb(href="#")
        img(src="#{item.media}")
      p #{item.title}
    #q.span6
      form.form-horizontal(method="POST", action="/api/v1/ask/#{item.id}")
        fieldset
          div.control-group
            label.control-label(for="to") Hey,
            div.controls
              input.input-xlarge(type="text", name="to", id="to")
          div.control-group
            label.control-label(for="question") I want to ask you
            div.controls
              textarea.input-xlarge(name="question", id="question", rows="3")
          div.form-actions
            button.btn.btn-primary(type="submit") Ask away
            buttn.btn Cancel