!!! 5
html
  head
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='http://codengage.com/css/bootstrap.min.css')

    script(type='text/javascript', src='http://codengage.com/js/jquery.min.js')

  body
    #container
      #content.row
        div.span6
          div.row
            #thumb.span3
              a.thumb(href="#")
                img(src="#{item.media}")
            #cat.span3
              form#cat_form.form-vertical(method="POST", action="")
                fieldset
                  div.control-group
                    label.control-label(for="category") Select a category
                    div.controls
                      select#category.span4
                        option(value="clothing") Clothing
                        option(value="shoes") Shoes
                        option(value="electronics") Electronics
                  div.control-group
                    label.control-label(for="tags") Want to add some tags
                    div.controls
                      input.span5.input-xlarge(name="tags", id="tags")
          div.row
            #save.span3
              a#btn_save.btn.btn-large(href="#")
                i.icon-bookmark Save
            #share.span3
              a#btn_share.btn.btn-large(href="#")
                i.icon-share Ask a friend

    script
      $(function() {
        $('#container').on('click', 'btn_save', function(ev) {
          ev.preventDefault();
          var f = $('#cat_form');
          $(f).attr('action', 'http://codengage.com/api/v1/item');
          $(f).submit();
          // $.post('http://codengage.com/api/v1/item', $('#cat_form').serializeArray(), success);
        });

        $('#container').on('click', 'btn_share', function(ev) {
          ev.preventDefault();
          var f = $('#cat_form');
          $(f).attr('action', 'http://codengage.com/api/v1/item?next=share');
          $(f).submit();
          // $.post('http://codengage.com/api/v1/item/share', $('#cat_form').serializeArray(), success);
        });

        function success(data){
          var elm = $('.alert-error');
          if ('error' in data) {
            $(elm).html(data.error.message)
            $(elm).removeClass('hidden');
          } else {
            if (!$(elm).hasClass('hidden')) $(elm).addClass('hidden');
            window.location(data.url);
          }
        }

      });