div

mixin thumb(item)
  div.span3
    div.thumbnail
      img.thumb(src="#{item.media}", alt)
      div.caption
        h5 #{item.title}
        p #{item.category}
        p #{item.tags}
        p: a.btn Compare

- var c = 0
- if (posts.length > 0)
  div.well
    div.content
      div.row
        - for (var i in posts) {
        - c = i
        - if (c == 3) {
        - c = 0
      div.row
        - }
        mixin thumb(posts[i].value)
        - }

script(src="js/bootstrap-transition.js")
script(src="js/bootstrap-collapse.js")