div

  div.well
    div.content
      div.row
        div.span3
          div.thumbnail
            img.thumb(src="#{item.media}", alt)
          div.caption
            h5 #{item.title}
            p #{item.category}
            p #{item.tags}
            p: a.btn Compare

script(src="js/bootstrap-transition.js")
script(src="js/bootstrap-collapse.js")