!!!
html
  head
    title ShopGodt
    meta(name='viewport', content='width=device-width')

    script(type='text/javascript', src='/js/jquery.min.js')'
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src="/js/mosaic.1.0.1.min.js")

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.responsive.min.css')

    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-touch-icon-114x114.png')

    body
      div(class='navbar navbar-fixed-top')
        div.navbar-inner
          div.container
            a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
              span.i-bar
                i(class='icon-chevron-down icon-white')
            a(class='brand', href='/') ShopGodt
            div.nav-collapse
              ul.nav
                li: a(href='/') About Us
                li: a(href='/') More
              ul(class='nav pull-right')
                if (user == 'Visitor')
                  li(class='dropdown hidden')
                else
                  li(class='dropdown')
                    a(id='welcome_name', href='#', class='dropdown-toggle', data-toggle='dropdown')
                      - if (id)
                        img(style='margin-right:5px;width:20px;height:20px', src='https://graph.facebook.com/#{id}/picture?type=square')
                        | #{user}
                      - else
                        #{user}
                      b.caret
                    ul.dropdown-menu
                      li: a(href='/profiles/show') Profile
                      li.divider
                      li: a(href='/logout') Sign Out

      div.container!= body

      script(type='text/javascript', src='http://crypto-js.googlecode.com/files/2.5.3-crypto-md5.js')