div(class='hero-unit geddy-welcome-box')
  div.row
    div(class='span3 offset4')
      div(id='msg', class='alert alert-error hidden') Login or password is incorrect
      div#fb
        a(href='/auth/facebook')
          img(src='img/login-with-facebook.png', width='154', height='22')