body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/whitey.png');
}

.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.arrow {
  font-size: 1.5em;
  margin-top: 5px;
}

.thumb {
  width: 260px;
  height: 180px;
}

.details {
  margin:15px 20px;
} 

.details h4 { 
  font:300 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height:160%;
  letter-spacing:0.15em;
  color:#fff;
  text-shadow:1px 1px 0 rgb(0,0,0);
}

.details p {
  font:300 12px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color:#aaa;
  text-shadow:1px 1px 0 rgb(0,0,0);
}

.details a {
  text-decoration:none;
}